
.lead-section-about{
    padding: 15px 0;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;

    .lead-section-title{
        display: block;
        padding: 150px 0;
        font-size: 6rem;
        line-height: 8.4rem;
        letter-spacing: 20px;
    }
}
//lead-section-about-end

.about-section{
    padding: 50px 0;

    .about-blog{
        h2{
            font-size: 4.4rem;
            line-height: 5rem;
        }
        p{
            font-size: 2rem;
            line-height: 2.8rem;
            font-weight: $font-weight-light;
            margin: 37px 0;
        }
    }//about blog
    
    .sidebar-blog{
        .about-aside{
            overflow: hidden;
            .blog-img{
                img{
                    transition: 0.5s linear;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }//col-02 
    
    .input-group{
        border: 1px solid $black;

        input[type="text"]{
            font-style: italic;  
            padding: 30px 15px;   
        }
        .input-group-append{
            button{
                a{
                    padding: 5px;
                }
            }
        } 
       
    }//search-bar end*/

    //blog content
    .blog-content{
        background-color: $white;
        text-align: center;
        width: 313px;
        height: 120px;
        .blog-date{
            font-family: $bodoni;
            font-style: italic;
            font-size: 1.4rem;
            line-height: 1.7rem;
            padding: 22px 0 17px;
            margin: 0;
        }//blog-date end

        .blog-text{
            color: $blog-text-color;
            padding: 0 18px 0;
        }//blog-text end

    }//blog-content end
}//about-section end

@media(min-width:576px){
    .about-section{
        padding: 100px 0;

        .blog-content{
            position: relative;
            left: 100px;
            bottom: 70px;
            z-index: 5;
        }
    }
}

@media(min-width:768px){
    .lead-section-about{
        .lead-section-title{
            padding: 270px 0;
        }
    }
    .about-section{
        .blog-content{
            left: 190px;
        }
    }
}
@media(min-width:992px){
    .about-section{
        .blog-content{
            left: 0px;
            bottom: 70px;
        }
    }
}
@media(min-width:1200px){
    .about-section{
        .blog-content{
            left: 30px;
            bottom: 70px;
        }
    }
}