
img{
    max-width: 100%;
}

body{
    font-family: $lato;
    color: $gray-900;
}

//Mobial first style
h1{
    font-family: $bodoni;
    font-size: 3rem;
    line-height: 6rem;
    letter-spacing: 1rem;
    color: $white;
}

h2{
    font-size: 3rem;
    line-height: 3.5rem;
    text-transform: uppercase;
}

h3{
    font-family: $bodoni;
    font-size: 3rem;
    line-height: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

a{
    color: $gray-900;
}
