$blog-text-color: $gray-900;

.blog-section{
    padding: 50px 0;

    .line{
        display: block;
        width: $line-widht;
        border-bottom: $line;
        margin-bottom: 43px;
    }

    .blog-item{
        margin-bottom: 40px;
        overflow: hidden;
        .blog-img{
            img{
                transition: 0.5s linear;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }//blog item

    .blog-content{
        text-align: center;
        width: 313px;
        height: 120px;
        padding: 20px 0;
        .blog-date{
            font-family: $bodoni;
            font-style: italic;
            font-size: 1.4rem;
            line-height: 1.7rem;
            padding: 22px 0 17px;
            margin: 0;
        }
        //blog-date end

        .blog-text{
            color: $blog-text-color;
            padding: 0 18px 0;
        } //blog-text end

    }//blog-content end
}//blog-section end

@media(min-width:576px){
    .blog-section{

        .blog-content{
            position: absolute;
            background-color: $white;
            height: 161px;
            top: 230px;
            left: 110px;
        }
    }
}
@media(min-width:768px){
    .blog-section{
        .blog-item{
            margin-bottom: 60px;
        }
        .blog-content{
            top: 330px;
            left: 200px;
        }
    }
}
@media(min-width:992px){
    .blog-section{
        padding: 75px 0 56px;
        .blog-item{
            margin-bottom: 100px;
        }
        .blog-content{
            top: 130px;
            left: 1px;
        }
    }
}
@media(min-width:1200px){
    .blog-section{
        .blog-content{
            top: 160px;
            left: 35px;
        }
    }
}
