
.lead-section{
    padding: 15px 0;
    background-position: center top;
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: auto;
    height: 640px;

    .lead-section-title{
        display: block;
        margin-top: 175px;
    }
    //service page title
    .services-section-title{
        display: block;
        margin-top: 175px;
        margin-bottom: 45px;
    }
}

@media(min-width:768px){
    .lead-section{
        padding: 75px 0;
        .lead-section-title{
            margin-top: 140px;
            font-size: 6rem;
            line-height: 8.4rem;
            letter-spacing: 2rem;
        }
        //service page title
        .services-section-title{
            margin-top: 200px;
            font-size: 6rem;
            line-height: 8.4rem;
            letter-spacing: 2rem;
        }
    }
}
