
.lead-section{
    padding: 15px 0;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;

    .lead-section-title{
        display: block;
        padding: 150px 0;
    }
    //service page title
    .services-section-title{
        display: block;
        padding: 150px 0;
        margin-bottom: 45px;
    }
}

@media(min-width:768px){
    .lead-section{
        padding: 75px 0;
        .lead-section-title{
            padding: 170px 0;
            font-size: 6rem;
            line-height: 8.4rem;
            letter-spacing: 2rem;
        }
        //service page title
        .services-section-title{
            padding: 190px 0;
            font-size: 6rem;
            line-height: 8.4rem;
            letter-spacing: 2rem;
        }
    }
}
