
$light-bg: $gray-400;
$primary-bg: $primary;
$border-button: $gray-900;

.services-section{
    padding: 50px 0;

    
    .line{
        display: block;
        border: $line;
        width: $line-widht;
        margin-bottom: 46px;
    }
    .services-img{
        img{
           max-width: 100%;
           height: auto;
        }
    }
    .services-description{
        background-color: $light-bg;
        padding: 80px 35px;
        
        
        .services-title{
            margin-bottom: 36px;
        }

        .services-button{
            border: 1px solid $border-button;
            padding: 13px 35px;
        }
    }
}
//services-section end

@media(min-width:576px){
    .services-section{
        .services-description{
            padding: 140px 96px;

            .services-title{
                font-size: 3.6rem;
                line-height: 4.4rem;
            }
        }
    }
}
@media(min-width:992px){
    .services-section{
        .services-description{
            padding: 78px 60px;
        }
    }
}
@media(min-width:1200px){
    .services-section{
        .services-description{
            padding: 125px 95px;
            height: 447px;
            width: auto;
        }
    }
}